@use 'colors' as *;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: $quaternaryColor;
    display: flex;
    justify-content: center;
}
h1{
    color: $secondaryColor;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 2.5em;
    padding-bottom: 5px;
}
.calcContainer{
    background-color: $primaryColor;
    border: 3px $secondaryColor solid;
    max-width: 570px;
    margin: 10px;
    padding: 30px 10px;
    &__numInfo{
        font-size: 3em;
        margin-bottom: 10px;
        border: 2px $tertiaryColor solid;
        text-align: right;
        
        &--input{
            background-color: $primaryColor;
            color: $secondaryColor;
            width: 100%;
            
        }
        &--output{
            background-color: $secondaryColor;
            color: $primaryColor;
            width: 100%;
            
        }
    }

    &__buttonContainer{
        text-align: center;
    }

    &__button{
        background-color: $primaryColor;
        color: $tertiaryColor;
        padding: 10px 20px;
        margin: 5px;
        border: 1px $secondaryColor solid;
        font-size: 2.5em;
        width: 100px;
        border-radius: 25px 10px;
        
        &--largerButton{
            width: 200px;
        }
    }
    &__button:active{
        background-color: $tertiaryColor;
        color: $primaryColor;
    }
}